---
import Layout from "../../layouts/Component.astro";

import { Button } from "$";
---

<Layout component="Button" desc="A clickable button." initialTheme={true}>
	<Button slot="component">Button</Button>
</Layout>
