---
import Layout from "../../layouts/Component.astro";

import { Switch } from "$";
---

<Layout component="Toggle Switch" initialTheme={true}>
	<label for="toggle" slot="component">Toggle</label>
	<Switch slot="component" id="toggle" />
</Layout>

<style>
	label {
		margin-right: 0.5em;
	}
</style>
