$theme: (
	light: (
		bg: (
			ev0: #eff1f5,
			ev1: #e6e9ef,
			ev2: #dce0e8,
			ev3: #ccd0da,
			highlight: #dfe0df,
		),
		fg: (
			base: #4c4f69,
			dark: #5c5f77,
		),
		scrollbar: (
		  track: #bdc2cf,
			thumb: #aeb5c5,
			thumb-hover: #a0a7ba,
		),
		accent: #d3d6df,
		primary: #7287fd,
		red: #c73659,
		green: #a6e3a1,
		yellow: #df8e1d,
		orange: #fe640b,
		blue: #0496ff,
	),
	dark: (
		bg: (
			ev0: #11111b,
			ev1: #181825,
			ev2: #1e1e2e,
			ev3: #313244,
			highlight: #1f223b,
		),
		fg: (
			base: #cdd6f4,
			dark: #a6adc8,
		),
		scrollbar: (
			track: #3c3d53,
			thumb: #464862,
			thumb-hover: #515370,
		),
		accent: #242438,
		primary: #7287fd,
		red: #f38ba8,
		green: #a6e3a1,
		yellow: #f9e2af,
		orange: #fab387,
		blue: #89b4fa,
	),
);

@mixin dark-mode {
}
