---
import Layout from "../layouts/Layout.astro";
import { Button } from "$";
import { Image } from "astro:assets";
---

<Layout initialTheme={true}>
	<div class="container">
		<div class="images">
			<div class="other-images">
				<Image
					class="small-image"
					width="500"
					height="500"
					src="/product_example.jpg"
					alt="Example image"
				/>
				<Image
					class="small-image"
					width="500"
					height="500"
					src="/product_example.jpg"
					alt="Example image"
				/>
				<Image
					class="small-image"
					width="500"
					height="500"
					src="/product_example.jpg"
					alt="Example image"
				/>
				<Image
					class="small-image"
					width="500"
					height="500"
					src="/product_example.jpg"
					alt="Example image"
				/>
				<Image
					class="small-image"
					width="500"
					height="500"
					src="/product_example.jpg"
					alt="Example image"
				/>
				<Image
					class="small-image selected"
					width="500"
					height="500"
					src="/product_example.jpg"
					alt="Example image"
				/>
				<Image
					class="small-image"
					width="500"
					height="500"
					src="/product_example.jpg"
					alt="Example image"
				/>
			</div>
			<Image
				id="current-image"
				class="image"
				width="500"
				height="500"
				src="/product_example.jpg"
				alt="Example image"
			/>
		</div>

		<div class="purchase">
			<div class="info">
				<h2 class="name">Product Name</h2>
				<h1 class="price">
					AU$12.34
					<div class="sale-badge">90% off</div>
				</h1>
				<div class="old-price">was AU$123.45</div>

				<div class="options">
					<div class="option inline">
						<h3 class="option-header">Primary Colour</h3>
						<div class="colour selected" style={{ background: "#f8dabe" }}></div>
						<div class="colour" style={{ background: "#636da6" }}></div>
						<div class="colour" style={{ background: "#71c2a3" }}></div>
						<div class="colour" style={{ background: "#dafcfe" }}></div>
						<div class="colour" style={{ background: "#4c6563" }}></div>
					</div>
					<div class="option inline">
						<h3 class="option-header">Secondary Colour</h3>
						<div class="colour selected" style={{ background: "#c5c8f1" }}></div>
						<div class="colour" style={{ background: "#aad8bb" }}></div>
						<div class="colour" style={{ background: "#8fb4c9" }}></div>
						<div class="colour" style={{ background: "#be804e" }}></div>
						<div class="colour" style={{ background: "#7a9093" }}></div>
					</div>
				</div>
			</div>

			<div class="purchase-buttons">
				<Button id="add-to-cart"
					><svg
						class="icon"
						xmlns="http://www.w3.org/2000/svg"
						width="1em"
						height="1em"
						viewBox="0 0 24 24"
						><path
							d="M17 18a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2M1 2h3.27l.94 2H20a1 1 0 0 1 1 1c0 .17-.05.34-.12.5l-3.58 6.47c-.34.61-1 1.03-1.75 1.03H8.1l-.9 1.63l-.03.12a.25.25 0 0 0 .25.25H19v2H7a2 2 0 0 1-2-2c0-.35.09-.68.24-.96l1.36-2.45L3 4H1zm6 16a2 2 0 0 1 2 2a2 2 0 0 1-2 2a2 2 0 0 1-2-2c0-1.11.89-2 2-2m9-7l2.78-5H6.14l2.36 5z"
						></path>
					</svg> Add to cart</Button
				>
				<Button id="buy-now"
					><svg
						class="icon"
						xmlns="http://www.w3.org/2000/svg"
						width="1em"
						height="1em"
						viewBox="0 0 24 24"
						><path
							d="M7 15h2c0 1.08 1.37 2 3 2s3-.92 3-2c0-1.1-1.04-1.5-3.24-2.03C9.64 12.44 7 11.78 7 9c0-1.79 1.47-3.31 3.5-3.82V3h3v2.18C15.53 5.69 17 7.21 17 9h-2c0-1.08-1.37-2-3-2s-3 .92-3 2c0 1.1 1.04 1.5 3.24 2.03C14.36 11.56 17 12.22 17 15c0 1.79-1.47 3.31-3.5 3.82V21h-3v-2.18C8.47 18.31 7 16.79 7 15"
						></path>
					</svg>Buy now</Button
				>
			</div>
		</div>

		<div class="description">
			<h3 class="description-title">Description</h3>
			<span>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
				labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
				cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</span>
		</div>
	</div>

	<style lang="scss">
		@use "$/style/devices";

		.icon {
			vertical-align: middle;
			margin-bottom: 3px;
		}

		.options {
			margin-top: 1em;
		}

		.option.inline {
			width: 49%;
			display: inline-block;
		}

		.option-header {
			margin-top: 0;
			margin-bottom: 0.25em;
		}

		.colour {
			width: 2em;
			height: 2em;
			border-radius: 4px;
			display: inline-block;

			cursor: pointer;
			background: var(--bg-ev3);

			&:hover {
				filter: brightness(0.9);
			}

			&.selected {
				outline: 3px solid color-mix(in srgb, var(--primary) 30%, transparent);
			}
		}

		.info {
			margin-top: auto;
			margin-bottom: 1.5em;
		}

		.name {
			margin: 0;
			color: var(--fg-dark);
		}

		.price {
			margin: 0;
			display: flex;
		}

		.old-price {
			font-size: 0.9rem;
			color: var(--fg-dark);
			margin-right: 0.2em;
		}

		.sale-badge {
			display: inline-block;
			font-size: 0.8rem;
			align-self: center;
			padding: 0.5em;
			background: var(--green);
			color: #000000;
			margin-left: 0.5em;
			border-radius: 999999px;
		}

		.purchase-buttons {
			margin-top: auto;
			margin-right: auto;
			display: flex;
			flex-direction: column;
			gap: 0.5em;
			min-width: 10em;
		}

		.container {
			margin: 2% 5%;
			display: grid;
			grid-template-columns: 0.6fr 0.4fr;
			grid-template-rows: 1fr 0.5fr;
			gap: 1em 1em;
			grid-template-areas:
				"image purchase"
				"description other";

			@include devices.is-phone {
				margin: 1%;
				grid-template-columns: 99%;
				grid-template-rows: 20em 1fr 1fr 1fr;
				gap: 1em 0;
				grid-template-areas:
					"image"
					"purchase"
					"description"
					"other";
			}
		}

		.purchase {
			grid-area: purchase;
			margin-top: auto;
			margin-bottom: auto;
			display: flex;
			flex-direction: column;
			width: 100%;
			min-height: 20%;
			max-height: 120%;
			padding: 2em;
		}

		.images {
			grid-area: image;
			display: grid;
			grid-template-columns: 0.125fr 0.975fr;
			grid-template-rows: 1fr;
			gap: 0 0.25em;
			grid-template-areas: "other-images main-image";

			@include devices.is-phone {
				grid-template-columns: 1fr;
				grid-template-rows: 0.8fr 0.2fr;
				gap: 0.1em 0;
				grid-template-areas:
					"main-image"
					"other-images";
			}
		}

		.image {
			grid-area: main-image;
			border-radius: 12px;
			width: 100%;
			height: auto;
			margin-top: auto;
			margin-bottom: auto;
			background: var(--accent);
			object-fit: contain;
		}

		.other-images {
			grid-area: other-images;
			overflow-y: auto;
			margin-top: auto;
			margin-bottom: auto;

			@include devices.is-phone {
				overflow-y: hidden;
				overflow-x: auto;
				margin: 0 0.15em;
			}
		}

		.small-image {
			display: inline-block;
			width: 100%;
			height: auto;
			border-radius: 8px;
			cursor: pointer;
			filter: brightness(0.7);

			&.selected {
				pointer-events: none;
				filter: brightness(1);
			}

			&:hover {
				filter: brightness(1);
			}

			@include devices.is-phone {
				height: 100%;
				width: auto;
			}
		}

		.description {
			grid-area: description;
		}

		.description-title {
			margin-top: 0;
			margin-bottom: 0.5em;
		}
	</style>
</Layout>
