---
---

<div class="app">
	<slot name="header" />

	<slot name="main">
		<main>
			<slot />
		</main>
	</slot>

	<div class="bottom">
		<slot name="footer" />
	</div>
</div>

<style lang="scss">
	@use "../style/text";

	body {
		margin: 0;
		width: 100vw;
		height: 100vh;
	}

	.app {
		background: var(--bg-ev0);
		color: var(--fg-base);

		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		overflow: auto;
		@include text.default;

		& > :global(header) {
			position: sticky;
			top: 0;
		}
	}

	main {
		flex: 2;
	}

	.bottom {
		margin-top: auto;
	}
</style>

<style lang="scss" is:global>
	@use "../style/theming";

	body:not(.dark) {
		@include theming.light-mode;
	}

	@media (prefers-color-scheme: dark) {
		body:not(.light) {
			@include theming.dark-mode;
		}
	}

	body.light {
		@include theming.light-mode;
	}

	body.dark {
		@include theming.dark-mode;
	}

	$scrollbar-width: 10px;
	$scrollbar-track: transparent;
	$scrollbar-track-hover: var(--scrollbar-track);
	$scrollbar-thumb: var(--scrollbar-thumb);
	$scrollbar-thumb-hover: var(--scrollbar-thumb-hover);

	* {
		box-sizing: border-box;

		scrollbar-width: 10px;
		scrollbar-color: $scrollbar-thumb $scrollbar-track;

		&:hover {
			scrollbar-color: $scrollbar-thumb-hover $scrollbar-track-hover;
		}
	}
</style>
