---
interface Props {
	id: string;
	enabled?: boolean;
}

// TODO: Add colour option

const { id, enabled } = Astro.props;
---

<label class="toggle-slider">
	<input type="checkbox" id={id} checked={enabled} />
	<span class="slider"></span>
</label>

<style lang="scss">
	.toggle-slider {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;

		& > input {
			opacity: 0;
			width: 0;
			height: 0;
		}
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--bg-ev2);
		border: 2px solid var(--bg-ev3);
		-webkit-transition: 0.4s;
		transition: 0.4s;
		border-radius: 34px;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 2px;
		bottom: 2px;
		background-color: var(--bg-ev3);
		-webkit-transition: 0.4s;
		transition: 0.4s;
		border-radius: 50%;
	}

	input:checked + .slider {
		background-color: var(--primary);
		border-color: var(--primary);
	}

	input:focus + .slider {
		outline: 2px solid color-mix(in srgb, var(--primary) 40%, transparent);
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);

		background-color: color-mix(in srgb, var(--primary) 75%, #000000);
	}
</style>
