---
interface Props {
	id: string;
	enabled?: boolean;
}

// TODO: Add colour option

const { id, enabled } = Astro.props;
---

<label class="switch">
	<input type="checkbox" id={id} checked={enabled} />
	<span class="slider"></span>
</label>

<style lang="scss">
	$slider-width: 3.25rem;
	$slider-height: 3.5ex;
	$dot-size: $slider-height - 1;

	.switch {
		position: relative;
		display: inline-block;
		width: $slider-width;
		height: $slider-height;

		& > input {
			opacity: 0;
			width: 0;
			height: 0;
		}
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--bg-ev2);
		border: 2px solid var(--bg-ev3);
		-webkit-transition: 0.4s;
		transition: 0.4s;
		border-radius: 99999px;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: $dot-size;
		width: $dot-size;
		left: 0.25ex;
		bottom: 0.25ex;
		background-color: var(--bg-ev3);
		transition: 0.4s;
		border-radius: 50%;
	}

	input:checked + .slider {
		background-color: var(--primary);
		border-color: var(--primary);
	}

	input:focus + .slider {
		outline: 2px solid color-mix(in srgb, var(--primary) 40%, transparent);
	}

	input:checked + .slider:before {
		$translate: calc($slider-width - $dot-size - 0.5rem);
		transform: translateX($translate);

		background-color: color-mix(in srgb, var(--primary) 75%, #000000);
	}
</style>
